.expense-date{
    border: 2px solid white;
    border-radius: 20px;
    width: 10%;
    font-size: 1em;
    background-color: darkslategray;
}

.expense-date__day{
    font-size: 2em;
    font-weight: bolder;
}

.expense-date__month{
    font-weight: bold;
}

.expense-date__year{
    
}